%footer.navbar-inverse.mt-auto
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          %li
            = "\xC2\xA9".force_encoding('UTF-8') + '2022'
          %li
            = link_to t('shared.footer.home'), root_path, class: 'nav-link'
          %li
            = link_to t('shared.footer.my_orders'), my_orders_path, class: 'nav-link' if current_user
          %li
            = link_to t('shared.footer.payment_terms'), donate_policy_path, class: 'nav-link'
          %li
            = link_to t('shared.footer.privacy_police'), privacy_policy_path, class: 'nav-link'
          %li
            = link_to t('shared.footer.feedback'), new_feedback_path, class: 'nav-link'
      .col-sm-3
        %p.general-nav-mail= mail_to 'budka52@bk.ru', 'budka52@bk.ru'
        %p.general-nav-number= link_to '+7(906)-368-29-69', "tel:+7(906)-368-29-69"
