
%footer.navbar-inverse.mt-auto
  .container
    .row
      .col-sm-9
        %ul.list-inline.general-align.mb-25
          <!-- #TODO прописать линки -->
          %li
            = "\xC2\xA9".force_encoding('UTF-8') + '2022'
          %li
            = link_to 'Главная', root_path, class: 'nav-link'
          %li
            = link_to 'Мои покупки', my_orders_path, class: 'nav-link'
          %li
            = link_to 'Условия оплаты', '#', class: 'nav-link'
          %li
            = link_to 'Пользовательское соглашение', '#', class: 'nav-link'
      .col-sm-3
        %p.general-nav-mail= mail_to 'budka52@bk.ru', 'budka52@bk.ru'
        %p.general-nav-number= link_to '+7(906)-368-29-69', "tel:+7(906)-368-29-69"
