%nav.navbar.navbar-expand-lg.navbar-light.navbar-default
  .container
    = link_to t('.title'), root_path, class: 'navbar-brand ml-1'
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Переключатель навигации", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", type: "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto.ml-5

        - if current_user&.admin?
          %li.nav-item
            = link_to t('shared.navbar.admin'), admin_root_path, class: 'nav-link'
          %li.nav-item
            = link_to t('shared.navbar.pghero'), pg_hero_path, class: 'nav-link'
          %li.nav-item
            = link_to t('shared.navbar.sidekiq'), sidekiq_web_path, class: 'nav-link'
          %li.nav-item
            = link_to 'Monit', 'https://diy-plans.ru/monit', class: 'nav-link'

        %li.nav-item
          = link_to t('.home'), root_path, class: 'nav-link'
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
            = t('shared.navbar.catalog')
          %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            %li= link_to t('.all'), projects_path, class: 'dropdown-item'
            %li.dropdown-divider
            - Category.pluck(:title,:id).each do |category|
              %li= link_to category[0], projects_path(category_id: category[1]), class: 'dropdown-item'

        - if current_user
          %li.nav-item.dropdown
            %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", href: "#", role: "button"}
              = t('shared.navbar.profile')
            %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}

              %li= link_to t('shared.navbar.edit'), edit_user_registration_path(current_user), class: 'dropdown-item'
              %li= link_to t('shared.navbar.my_orders'), my_orders_path, class: 'dropdown-item'
              %li.dropdown-divider
              %li= link_to t('shared.navbar.log_out'), destroy_user_session_path, :method => :delete, class: 'dropdown-item'
        - else
          %li= link_to t('shared.navbar.log_in'), new_user_session_path, class: 'nav-link'
          %li= link_to t('shared.navbar.register'), new_user_registration_path, class: 'nav-link'

    - if current_or_guest_user.qty_in_cart > 0
      = link_to cart_path, class: 'shop-link pull-right' do
        %span.shop-icon
          %span.shop-quantity#item_counter= current_or_guest_user.qty_in_cart
