.general-order-wrap
  .row
    .col-sm-4
      .input-group.general-input-group
        %label.input-label= t('orders.summary.promocode')
        %input.form-control.mb-30{type: "text", placeholder: "Enter Your Coupon Code "}
        %div
          %button.btn.btn-primary.mr-5.mb-15= t('orders.summary.activate')
    .col-sm-8
      .res-mr-200.text-center.general-text-right
        %p.in-gold-500.font-18
        %table.general-summary-table.general-summary-table-right.general-text-right
          %tr
            %td
              %p.font-16= t('orders.summary.subtotal')
            %td
              %p.font-16#total_amount= number_to_currency(@cart.total_amount)
          %tr
            %td
              %p.font-16= t('orders.summary.discount')
            %td
              %p.font-16#total_discount= number_to_currency(@cart.discount)
          %tr
            %td
              %strong.font-18= t('orders.summary.total')
            %td
              %strong.font-18#amount_with_discount= number_to_currency(@cart.amount_with_discount)

