.col-xs-12.col-sm-4
  .general-thumb-wrap{ id: "project_card_#{project.id}"}
    .thumbnail.general-thumbnail
      = link_to project_path(project), class: 'thumb-hover-link' do
        = image_tag project.main_image(:catalog_image), class: 'img-shadow general-thumbnail-img', alt: "#{project.title}"

  .general-thumb-info
    .row
      .col-6
        %p.font-16.in-blue-500
          = t('number.currency.symbol')
          = project.price
      .col-6
        %p.font-16.in-blue-500.difficulty.pull-right
          = project.difficult_icons
    %span.divider-sm
    %p.title= project.title
