.product-gallery
  .image_container
    - @project.images.each.with_index do |image, index|
      .mb-20
      .img-responsive
        .mySlides
          = image_tag( url_for(image), style: "width:100%", id: "#{index + 1}")

    = link_to "#", onclick: "plusSlides(-1)", class: 'prev_image', remote: true do 
      ❮
    = link_to "#", onclick: "plusSlides(1)", class: 'next_image', remote: true do 
      ❯
    
    .images.clearfix
      .image_row
        - @project.images.each.with_index do |image, index|
          .image_column
            .demo.image_cursor
              = image_tag( url_for(image), style: "width:100%", alt: "The Woods",  class: 'thumb_image', id: "#{index + 1 }",  onclick: "showSlides(#{index + 1})")

  <!-- #TODO прописать линки -->
  .mb-20
    .img-responsive= image_tag('default_cover1.png')
  .images.clearfix
    = link_to '#', class: 'img-link' do
      = image_tag('default_cover1.png')
