= link_to('#', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false', class: 'dropdown-toggle sorting-dropdown lead small') do
  = t(".#{params[:sorting] || 'newest'}")
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu.sorting-menu
  - projects_sorting_options.each do |sorting_option|
    %li
      = link_to t(".#{sorting_option}"), request.params.merge(sorting: sorting_option)
