- set_meta_tags title: ['DIY Plans', 'Каталог чертежей и инструкций', "#{@category.title if @category}"], description: "В нашем ассортименте около 50-ти чертежей для изделий, которые вы можете сделать дома своими руками. ", keywords: 'Будка, курятник, песочница, детский домик, детский комплекс, своими руками, производство', index: true

%main.container
  %h1.general-title-margin= t('.page_title')
  = render 'sort_menu'  
  = render 'categories_list'
  = render 'projects', cached: true
