- set_meta_tags title: ['Инструкция | DIY Plans', @project.title], description: "Как сделать #{@project.short_description} своими руками. Цена: #{@project.price} руб. Размеры: #{@project.dimensions}. #{@project.vendor_code}", keywords: @project.category.title, index: true

%main.container{ id: "project_card_#{@project.id}"}
  = link_to  :back, class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    = t('.back_to_result')
    - if  current_user&.admin?
      = link_to "Редактировать", edit_admin_project_path(@project), target: '_blank', class: 'btn btn-default pull-right general-position'
  .row
    .col-sm-6
      = react_component("Gallery", { images: @project.images_for_gallery })

    <!-- #Prices  -->
    .col-sm-6
      %h1.mt-res-0
        = @project.title
      %small
        = t('projects.show.vendor_code')
        = @project.vendor_code
      .row
        - if @project.old_price
          .col-xs-12.col-md-3.mt-2    
            %p.h2.in-grey-600.strikethrough.mt-10
              = "#{@project.old_price} <small>₽</small>".html_safe
              
        .col-xs-12.col-md-3
          %p.h1.in-blue-500.mt-10
            = @project.price
            %small.in-blue-500= t('number.currency.symbol')

        .col-xs-7.col-md-3.ml-auto
          = @project.cart_buttons

      <!-- #Description  -->
      .general-info-wrap.divider-lg
        %p.lead.small.line-height-2
          %div
            = simple_format(@project.description)

      <!-- #Additional params  -->
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.difficulty') 
          %p.difficulty.pull-right
            = @project.difficult_icons

      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.dimensions')
          %p.lead.small.pull-right
            = @project.dimensions

      - unless @project.set_description.nil?
        .general-info-wrap.divider-lg
          .clearfix
            %p.pull-left
              %button.btn.btn-default{"aria-controls" => "collapseExample", "aria-expanded" => "false", "data-target" => "#collapseExample", "data-toggle" => "collapse", :type => "button"}
                Состав документации
            #collapseExample.collapse
              .card.card-body
                = simple_format(@project.set_description)

  <!-- #TODO передвинуть в отдельный паршл, когда будут Ревью -->

  -# = render 'reviews/new'
  -# = render 'reviews/review'
