%main.container
  #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
      %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}

    .carousel-inner
      .carousel-item.active
        .row
          .col-sm-5
            .general-img-wrap
              .img-shadow.general-thumbnail-img= image_pack_tag "main_page/1.jpg", alt: 'main_page_1'
          .col-sm-7
            .mb-60
              %h1= t('pages.carousel.slide1_title')
              %p.lead= t('pages.carousel.slide1_p1')
              %p.lead.small= t('pages.carousel.slide1_p2')
              .general-align
                = link_to t('shared.navbar.catalog'), projects_path, class: 'btn btn-primary'

      .carousel-item
        .row
          .col-sm-5
            .general-img-wrap
              .img-shadow.general-thumbnail-img= image_pack_tag "main_page/2.jpg", alt: 'main_page_2'
          .col-sm-7
            .mb-60
              %h1= t('pages.carousel.slide2_title')
              %p.lead= t('pages.carousel.slide2_p1')
              %p.lead.small= t('pages.carousel.slide2_p2')
              .general-align
                = link_to t('shared.navbar.catalog'), projects_path, class: 'btn btn-primary'

      .carousel-item
        .row
          .col-sm-5
            .general-img-wrap
              .img-shadow.general-thumbnail-img= image_pack_tag "main_page/3.jpg", alt: 'main_page_3'
          .col-sm-7
            .mb-60
              %h1= t('pages.carousel.slide3_title')
              %p.lead= t('pages.carousel.slide3_p1')
              %p.lead.small= t('pages.carousel.slide3_p2')
              .general-align
                = link_to t('shared.navbar.catalog'), projects_path, class: 'btn btn-primary'
                
    %a.left.carousel-control-prev{"data-slide" => "prev", href: "#carouselExampleIndicators", role: "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.sr-only Предыдущий
    %a.right.carousel-control-next{"data-slide" => "next", href: "#carouselExampleIndicators", role: "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.sr-only Следующий
