.container
  .jumbotron.text-center.mb-1
    .row
      .col-sm-3
        .general-img-wrap
          .img-shadow= image_pack_tag "main_page/selfi.jpg", alt: 'selfi'
      .col-sm-9

        %h2= t('pages.jumbotron.welcome')
        .mb-res-50
          .lead.small= t('pages.jumbotron.small1')
          .lead.small= t('pages.jumbotron.small2')
          .lead.small= t('pages.jumbotron.small3')
        = link_to t('shared.navbar.register'), new_user_registration_path, class: 'btn btn-default'
