%main.container
  = link_to  :back, class: 'general-back-link' do
    %i.fa.fa-long-arrow-left.mr-15
    = t('.back_to_result')
  .row
    .col-sm-6
      .product-gallery
        <!-- #TODO прописать линки -->
        .mb-20
          %img.img-responsive{src: "https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg"}
        .images.clearfix
          %a.img-link{href: "#"}
            %img{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
          %a.img-link{href: "#"}
            %img{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
          %a.img-link{href: "#"}
            %img{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
    .col-sm-6
      %h1.mt-res-0
        = @book.title 
      %p.lead.small
        = @book.author
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10 
            €
            = @book.price
            
        .col-xs-5.col-md-3
          .input-group.general-position
            %span#quantity_minus.input-link
              %i.fa.fa-minus.line-height-40
            %input#quantity.form-control.quantity-input{type: "text", value: 1}
            %span#quantity_plus.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40

        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position= t('.add_to_cart') 

      .general-info-wrap.divider-lg
        %p= t('.description')
        %p.lead.small.line-height-2
          %div
            - if @book.description.length > 250
              = truncate(@book.description, length: 250)
              = link_to t('.read_more'), '', class: "in-gold-500 ml-10 read-more"
              :javascript
                $('.read-more').on('click', function(e) {
                  e.preventDefault()
                  $(this).parent().html("#{j @book.description}")
                })
            - else
              = @book.description
              
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.year') 
          %p.lead.small.pull-right
            = @book.published_year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.dimention') 
          %p.lead.small.pull-right
            = @book.dimentions 
            H:6.4 x W: 0.9 x D: 5.0
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('.materials')
          %p.lead.small.pull-right
            = @book.materials  

  <!-- #TODO передвинуть в отдельный паршл, когда будут Ревью -->
  .mb-80
    %h3 Write a Review
    %p.general-info-text Score
    .mb-15
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
      %i.fa.fa-star.rate-empty
    %form.row
      .col-md-8
        .mb-40
          .form-group
            %label.control-label.input-label.in-grey-600{for: "title"} Title
            %input#title.form-control{name:"title", type: "text"}
          .form-group
            %label.control-label.input-label.in-grey-600{for: "review"} Review
            %textarea#review.form-control{name:"review", type: "text"}
        .text-right
          %button.btn.disabled.mb-20 Post
  .mb-80
    %h3.in-gold-500.mb-25 Reviews (3)
    .general-message-wrap.divider-lg
      .clearfix
        %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
        .ml-70
          %div
            .general-message-date.hidden-xs 11/11/16
            .max-240
              .general-message-verified Verified Reviewer
              .general-message-name Rita J. Lewis
          .mb-15
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
            %i.fa.fa-star.rate-star
          %p Thank you BookStore, I was very pleased to receive my order for the Moleskine diary so soon after placing the order.
