%main.container.general-main-wrap.text-center
  .row
    .col-md-3
    .col-md-6
      .text-center
        %h3.general-login-title= t('.sign_in')
        = link_to user_facebook_omniauth_authorize_path, method: :post do
          %span{:style => "font-size: 3em; color: #c59c71;"}
            %i.bi.bi-facebook
        %p.general-login-text or
        
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Enter Email', class: 'form-control', id: 'email'
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: 'current-password', placeholder: 'Password', class: 'form-control', id: 'password'
        - if devise_mapping.rememberable?
          .form-group.form-check
            = f.check_box :remember_me
            = f.label :remember_me, class: 'form-check-label' do
              = resource.class.human_attribute_name('remember_me')
        .form-group
          = f.submit  t('.sign_in'), class: 'btn btn-primary'
      = render 'devise/shared/links'
    .col-md-3
