%a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
  = t('.newest_first')
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  %li
    %a{href: "#"}= t('.newest_first')
  %li
    %a{href: "#"}= t('.popular_first') 
  %li
    %a{href: "#"}= t('.price_low_first') 
  %li
    %a{href: "#"}= t('.price_hight_first') 
